<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletIngresar</servlet-name>
        <servlet-class>com.ServletIngresar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistrar</servlet-name>
        <servlet-class>paquete.ServletRegistrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistrarUsuario</servlet-name>
        <servlet-class>paquete.ServletRegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAgregarUsuarios</servlet-name>
        <servlet-class>com.ServletAgregarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>mod.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarUsuario</servlet-name>
        <servlet-class>com.ServletEditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerTemas</servlet-name>
        <servlet-class>com.ServletVerTemas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAgregarTemas</servlet-name>
        <servlet-class>com.ServletAgregarTemas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarUsuario2</servlet-name>
        <servlet-class>com.ServletEditarUsuario2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVisualizarTema</servlet-name>
        <servlet-class>com.ServletVisualizarTema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAgregarComentario</servlet-name>
        <servlet-class>com.ServletAgregarComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCalificar</servlet-name>
        <servlet-class>com.ServletCalificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerGraficas</servlet-name>
        <servlet-class>com.ServletVerGraficas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerGraficas2</servlet-name>
        <servlet-class>com.ServletVerGraficas2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarTema</servlet-name>
        <servlet-class>com.ServletEliminarTema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIngresar2</servlet-name>
        <servlet-class>com.ServletIngresar2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarUsuario</servlet-name>
        <servlet-class>com.ServletEliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAgregarComentario2</servlet-name>
        <servlet-class>com.ServletAgregarComentario2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletIngresar</servlet-name>
        <url-pattern>/ServletIngresar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistrar</servlet-name>
        <url-pattern>/ServletRegistrar</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/ingresar.html</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ServletRegistrarUsuario</servlet-name>
        <url-pattern>/ServletRegistrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAgregarUsuarios</servlet-name>
        <url-pattern>/ServletAgregarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarUsuario</servlet-name>
        <url-pattern>/ServletEditarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerTemas</servlet-name>
        <url-pattern>/ServletVerTemas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAgregarTemas</servlet-name>
        <url-pattern>/ServletAgregarTemas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarUsuario2</servlet-name>
        <url-pattern>/ServletEditarUsuario2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVisualizarTema</servlet-name>
        <url-pattern>/ServletVisualizarTema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAgregarComentario</servlet-name>
        <url-pattern>/ServletAgregarComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCalificar</servlet-name>
        <url-pattern>/ServletCalificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerGraficas</servlet-name>
        <url-pattern>/ServletVerGraficas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerGraficas2</servlet-name>
        <url-pattern>/ServletVerGraficas2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarTema</servlet-name>
        <url-pattern>/ServletEliminarTema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIngresar2</servlet-name>
        <url-pattern>/ServletIngresar2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarUsuario</servlet-name>
        <url-pattern>/ServletEliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAgregarComentario2</servlet-name>
        <url-pattern>/ServletAgregarComentario2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
